{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <header>
        <a href="{% url 'cms:member_list' %}">
            <h1>顧客管理システム</h1>
        </a>
    </header>
    <nav>
        <li class="li_1">
            <a href="{% url 'cms:create' %}"><button>顧客登録</button></a>
        </li>
        <li class="li_2">
            <a href="{% url 'cms:member_list' %}"><button>顧客一覧</button></a>
        </li>
        <li class="li_3">
            <a href="{% url 'cms:ajax_search' %}"><button>注文登録</button></a>
        </li>
    </nav>
    <main>
        {% block content %} {% endblock content %}
    </main>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
{% block js %}{% endblock js %}
{% block extrajs %}{% endblock %}

</html>